body {
  font-family: 'Arial', sans-serif;
  background-image: url('../Background/christmasbg.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: goldenrod;
  padding-top: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  max-width: 1000px; /* Adjust this value to your preference */
  margin: 0 auto; /* Center the calendar horizontally */
}

.door {
  position: relative;
  width: calc(16.333% - 10px); /* Show one column on larger screens */
  height: 150px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.door-number {
  font-size: 1.0em;
  position: absolute;
  top: 105px;
  left: 100px;
  background-color: #b32400;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}

.door img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

h1 {
  text-align: center;
  color: #b32400;
}

/* Modal Styles for Mobile */
.custom-modal {
  max-width: 100%; /* Full width on mobile */
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f5f5f5;
}

.option.selected {
  background-color: #b32400;
  color: #fff;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #b32400;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #8c1a00;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.problem-container {
  animation: fadeIn 0.5s ease-out;
}

@media screen and (max-width: 768px) {
  .door {
    position: relative;
    width: calc(50.333% - 10px); /* Show one column on larger screens */
    height: 150px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: goldenrod;
    padding-top: 5px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    max-width: 450px; /* Adjust this value to your preference */
    margin: 0 auto; /* Center the calendar horizontally */
  }
  .custom-modal {
    width: 310px; /* Full width on mobile */
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .custom-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

  
  
  
  
  
  
  